# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.ShaderPipelines.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Repositories\Unity\ShaderPipelines\.idea\.idea.ShaderPipelines\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
